<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D-Cider</title>
    <link rel="stylesheet" href="styles/core.css">
    <script src="./js/vue.js"></script>
</head>

<body>

    <div class="app">
        <!-- User Controls -->
        <div class="user-controls row">
            <button class="generate" v-on:click="decide(itemArray)">Generate</button>
            <input class="input" ref="userInput" v-on:keydown.enter="addToArray"></input>
            <button class="add" v-on:click="addToArray">+</button>
        </div>
        
        <!-- Inputs -->
        <div class="items row">
            <span v-for="item in itemArray" v-on:click="removeItem" ref="item">{{item.item}}</span>
        </div>
        
        <!-- Choice -->
        <span class="choice-title">Choice</span>
        <div class="choice" v-if="isDecided">{{finalDecision}}</div>
    </div>

    <script src="./js/app.js"></script>
</body>


</html>